* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trade Gothic Next LT Pro Cn";
}

li {
  list-style-type: none;
}

p {
  line-height: 26px;
}

img {
  max-width: 100%;
}

.text-yellow {
  color: #f4ec7e !important;
}

.text-orange {
  color: #e57d55 !important;
}

.text-blue {
  color: #729bad !important;
}

.text-purple {
  color: #4b00d9 !important;
}

.btn {
  border-radius: 40px;
  text-transform: uppercase;
  padding: 8px 25px;
  font-family: "Trade Gothic Next LT Pro Cn";
}

.btn-orange {
  background-color: #e57d55;
  color: #050e1a;
}

.btn-orange:hover {
  background-color: #e57d55;
  color: #050e1a;
}

.btn-blue {
  background-color: #729bad;
  color: #050e1a;
}

.btn-blue:hover {
  background-color: #729bad;
  color: #050e1a;
}

.btn-yellow {
  background-color: #f4ec7e;
  color: #050e1a;
}

.btn-yellow:hover {
  background-color: #f4ec7e;
  color: #050e1a;
}

.btn-white {
  background-color: #ffffff;
  color: #050e1a;
}

.btn-white:hover {
  background-color: #ffffff;
  color: #050e1a;
}

.bg-light-blue {
  background-color: #729dad;
}

.bg-dark-blue {
  background-color: #0C2546;
}

.fp-watermark {
  display: none;
}

.bg-gd-blue-dark {
  background: #160e09;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#160e09), to(#729dad));
  background: linear-gradient(to bottom, #160e09 0%, #729dad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#160e09', endColorstr='#729dad',GradientType=0 );
  /* IE6-9 */
}

.comman-banner-title {
  color: #fff;
  margin-bottom: 40px;
  line-height: 52px;
  font-size: 60px;
  font-family: "TradeGothicNextLTProBdCn";
  text-transform: uppercase;
}

.comman-banner-title.text-purple-color {
  color: #011945;
}

@media screen and (max-width: 991px) {
  .comman-banner-title {
    font-size: 50px;
    line-height: 42px;
  }
}

@media screen and (max-width: 767px) {
  .comman-banner-title {
    font-size: 40px;
    line-height: 32px;
  }
}

@media screen and (max-width: 575px) {
  .comman-banner-title {
    font-size: 30px;
  }
}

.comman-banner-title.dark-heading h2 {
  color: #011945;
}

.full-screen {
  min-height: 100vh;
}

header .navbar {
  background: rgba(1, 25, 69, 0.6) 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 35px 0px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

header .navbar .navbar-brand img {
  margin-right: 10px;
}

@media screen and (max-width: 991px) {
  header .navbar .navbar-brand img {
    max-width: 250px;
  }
}

header .navbar .navbar-brand h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

header .navbar .navbar-nav li {
  padding: 10px 30px 10px 40px;
}

@media screen and (max-width: 1199px) {
  header .navbar .navbar-nav li {
    padding: 10px 15px 10px 15px;
  }
}

@media screen and (max-width: 991px) {
  header .navbar .navbar-nav li {
    padding: 10px 5px;
  }
}

header .navbar .navbar-nav li a {
  padding: 10px 20px;
  color: #f4ec7e;
  font: normal normal bold 16px/20px Trade Gothic Next LT Pro Cn;
  letter-spacing: 0px;
  color: #f4ec7e;
  text-transform: uppercase;
  opacity: 1;
}

footer {
  background: #011945 0% 0% no-repeat padding-box;
  opacity: 1;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

footer .footer-top {
  border-bottom: 1px solid #fff;
  padding: 30px 0px;
}

@media (max-width: 1200px) {
  footer .footer-top {
    padding: 30px 0;
  }
}

@media (max-width: 620px) {
  footer .footer-top {
    padding: 20px 0px;
  }
}

footer .footer-top .footer-left .footer-brand img {
  margin-right: 10px;
}

footer .footer-top .footer-left .footer-brand h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

footer .footer-top .footer-left .footer-menu ul li {
  list-style-type: none;
  margin-right: 30px;
}

@media (max-width: 1200px) {
  footer .footer-top .footer-left .footer-menu ul li {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  footer .footer-top .footer-left .footer-menu ul li {
    margin-right: 10px;
  }
}

@media (max-width: 620px) {
  footer .footer-top .footer-left .footer-menu ul li {
    margin-right: 6px;
  }
}

footer .footer-top .footer-left .footer-menu ul li a {
  font: normal normal bold 16px/20px Trade Gothic Next LT Pro Cn;
  letter-spacing: 0px;
  color: #f4ec7e;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
}

@media (max-width: 1200px) {
  footer .footer-top .footer-left .footer-menu ul li a {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  footer .footer-top .footer-left .footer-menu ul li a {
    font-size: 12px;
  }
}

@media (max-width: 620px) {
  footer .footer-top .footer-left .footer-menu ul li a {
    font-size: 9px;
  }
}

footer .footer-top .footer-right h6 {
  font: normal normal bold 20px Trade Gothic Next LT Pro Cn;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
}

footer .footer-top .footer-right h6 span {
  color: #f4ec7e;
}

footer .footer-top .footer-right .footer-form input[type="text"] {
  color: #ffffff;
  max-width: 416px;
  margin-right: 25px;
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #ffffff;
}

@media (max-width: 992px) {
  footer .footer-top .footer-right .footer-form input[type="text"] {
    padding: 7px 10px;
    margin-right: 15px;
  }
}

@media (max-width: 620px) {
  footer .footer-top .footer-right .footer-form input[type="text"] {
    margin-right: 7px;
  }
}

footer .footer-top .footer-right .footer-form input[type="submit"] {
  text-align: center;
  color: #000000;
  border: none;
  padding: 10px 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 20px;
  font: normal normal bold 16px/20px Trade Gothic Next LT Pro Cn;
  letter-spacing: 0px;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  footer .footer-top .footer-right .footer-form input[type="submit"] {
    padding: 10px 30px;
  }
}

footer .footer-top .footer-right .footer-form input[type="text"]::-webkit-input-placeholder {
  /* Edge */
  color: #ffffff;
}

footer .footer-top .footer-right .footer-form input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

footer .footer-top .footer-right .footer-form input[type="text"]::-ms-input-placeholder {
  color: #ffffff;
}

footer .footer-top .footer-right .footer-form input[type="text"]::placeholder {
  color: #ffffff;
}

footer .footer-top .footer-right .social-list li a {
  background: #f4ec7e 0% 0% no-repeat padding-box;
  border-radius: 4px;
  text-decoration: none;
  padding: 4px 8px;
  margin-right: 35px;
  text-align: center;
  font: normal normal bold 26px Scotch Text;
  letter-spacing: 0px;
  color: #14375e;
  width: 45px;
  display: block;
  height: 45px;
  line-height: 42px;
}

@media (max-width: 1200px) {
  footer .footer-top .footer-right .social-list li a {
    padding: 2px 6px;
    margin-right: 25px;
  }
}

@media (max-width: 992px) {
  footer .footer-top .footer-right .social-list li a {
    margin-right: 20px;
  }
}

@media (max-width: 620px) {
  footer .footer-top .footer-right .social-list li a {
    margin-right: 14px;
  }
}

footer .footer-bottom {
  padding: 20px 0px;
}

@media (max-width: 1200px) {
  footer .footer-bottom {
    padding: 20px 0px;
  }
}

@media (max-width: 620px) {
  footer .footer-bottom {
    padding: 20px 0px;
  }
}

footer .footer-bottom .footer-privacy a h6 {
  font: normal normal normal 13px/17px Trade Gothic Next LT Pro Cn;
  color: #f4ec7e;
  text-transform: uppercase;
  margin-right: 17px;
}

@media (max-width: 1200px) {
  footer .footer-bottom .footer-privacy a h6 {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  footer .footer-bottom .footer-privacy a h6 {
    font-size: 10px;
  }
}

footer .footer-bottom .footer-rights a h6 {
  font: normal normal normal 13px/17px Trade Gothic Next LT Pro Cn;
  letter-spacing: 0px;
  color: #f4ec7e;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  footer .footer-bottom .footer-rights a h6 {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  footer .footer-bottom .footer-rights a h6 {
    font-size: 10px;
  }
}

.section {
  padding: 250px 0 80px;
  position: relative;
}

.section.large-py {
  padding: 200px 0;
}

.section.small-py {
  padding: 70px 0;
}

footer.section {
  padding: 0 !important;
}

.fullpage-wrapper .fp-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 0 80px;
}

.bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  /*cover video background */
  z-index: -1;
}

.banner-intro h1 {
  color: #fff;
  margin-bottom: 40px;
  line-height: 52px;
  font-family: "TradeGothicNextLTProBdCn";
  text-transform: uppercase;
}

.banner-intro h3 {
  font-size: 40px;
  color: #fff;
}

.banner-intro.dark-heading h2 {
  color: #011945;
}

.banner-intro.dark-heading h3 {
  color: #011945;
}

.banner-intro p {
  color: #fff;
}

.fp-dots {
  position: fixed;
  z-index: 100;
  top: 142px;
  left: 3%;
  -webkit-transform: none;
  transform: none;
  bottom: 0;
}

.fp-dots ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.fp-dots ul li {
  margin: 0;
  height: 50%;
  position: relative;
}

.fp-dots ul li::before {
  content: "";
  position: absolute;
  left: 7px;
  height: calc(50% - 15px);
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 100%;
}

.fp-dots ul li::after {
  content: "";
  position: absolute;
  left: 7px;
  height: 50%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 100%;
}

.fp-dots ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.fp-dots ul li a span {
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #fff;
  left: 0;
  margin: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fp-dots ul li a.active span {
  width: 15px;
  height: 15px;
  margin: 0;
}

.fp-dots ul li:first-child a:before {
  content: "";
  position: absolute;
  left: 7px;
  height: calc(50% - 15px);
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
}

.fp-dots ul li:last-child a:before {
  content: "";
  position: absolute;
  left: 7px;
  height: 50%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
}

.fp-dots ul li.yellow-dot span {
  border-color: #f4ec7e;
}

.fp-dots ul li.yellow-dot.active span {
  background-color: #f4ec7e;
}

.fp-dots ul li.red-dot span {
  border-color: #e57d54;
}

.fp-dots ul li.red-dot.active span {
  background-color: #e57d54;
}

.fp-dots ul li.blue-dot span {
  border-color: #729dad;
}

.fp-dots ul li.blue-dot.active span {
  background-color: #729dad;
}

.fp-dots ul li.purple-dot span {
  border-color: #4b00d9;
}

.fp-dots ul li.purple-dot.active span {
  background-color: #4b00d9;
}

.scroll-down {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-family: "TradeGothicNextLTProBdCn";
}

.scroll-down .scroll-wrap {
  display: inline-block;
  position: relative;
}

.scroll-down .scroll-wrap span {
  height: 40px;
  width: 1px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 5px auto 0;
  top: 100%;
}

.scroll-down .scroll-wrap span:before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  top: 100%;
  left: -5px;
  right: 0;
}

.scroll-down .scroll-wrap a.text-yellow span {
  background-color: #f4ec7e;
}

.scroll-down .scroll-wrap a.text-yellow span:before {
  background-color: #f4ec7e;
}

.scroll-down .scroll-wrap.text-orange span {
  background-color: #e57d55;
}

.scroll-down .scroll-wrap.text-orange span:before {
  background-color: #e57d55;
}

.scroll-down .scroll-wrap.text-orange.text-blue span {
  background-color: #729bad;
}

.scroll-down .scroll-wrap.text-orange.text-blue span:before {
  background-color: #729bad;
}

.technology-wrap {
  background-color: rgba(75, 0, 217, 0.45);
  padding: 60px;
  position: relative;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.icon-box {
  margin-top: 50px;
  max-width: 400px;
}

.icon-box .icon {
  float: left;
  width: 90px;
  text-align: center;
  margin-right: 20px;
}

.icon-box .box-content {
  overflow: hidden;
}

.icon-box .box-content h5 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 28px;
}

.icon-box .box-content p {
  color: #fff;
  margin-bottom: 0;
}

[class*="col-md"]:nth-child(-n + 2) .icon-box {
  margin-top: 0;
}

[class*="col-md"]:nth-child(2n) .icon-box {
  margin-left: auto;
}

.scientific-collaborators {
  background-color: #729bad;
  padding: 40px;
}

.scientific-collaborators p {
  color: #fff;
  margin: 0;
}

.collaborate-logo {
  margin-top: 50px;
}

.collaborate-section {
  min-height: 1400px;
}

@media screen and (max-width: 1199px) {
  .collaborate-section {
    min-height: 1000px;
  }
}

@media screen and (max-width: 991px) {
  .collaborate-section {
    min-height: 800px;
  }
}

.overlap-text {
  position: relative;
  padding: 30px 30px 30px 0;
  z-index: 1;
}

.overlap-text::before {
  content: "";
  left: -100%;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(114, 157, 173, 0.6);
  z-index: -1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.overlap-text.overlap-bg-purple::before {
  background-color: rgba(75, 0, 217, 0.6);
}

.overlap-text.overlap-bg-blue::before {
  background-color: rgba(1, 25, 69, 0.69);
}

.overlap-text p {
  font-size: 18px;
  margin-bottom: 0;
}

.collaborators-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.collaborators-logo li {
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .collaborators-logo li {
    width: 33.33%;
  }
}

.collaborators-logo li img {
  max-width: 100%;
  margin: 0 auto;
  display: table;
}

.custom-tab.nav-tabs {
  border: 0;
}

.custom-tab.nav-tabs li button {
  background-color: transparent;
  border-bottom: 4px solid transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "TradeGothicNextLTProBdCn";
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;
}

.custom-tab.nav-tabs li button:hover, .custom-tab.nav-tabs li button.active {
  border-color: #4B00D9;
  color: #4B00D9;
}

.custom-tab.nav-tabs li button:focus {
  outline: none;
}

.application-tab-content {
  position: relative;
  padding: 50px 30px;
  min-height: 400px;
  z-index: 1;
}

.application-tab-content::before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(75, 0, 217, 0.5);
  z-index: -1;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.application-tab-content p {
  color: #fff;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1240px;
  }
}

.contact-section {
  min-height: 1154px;
}

.contact-section .contact-form .contact-info-title {
  font-size: 60px;
  color: #fff;
  margin-bottom: 40px;
}

.contact-section .contact-form form .form-group {
  margin-bottom: 35px;
}

.contact-section .contact-form form .form-group label {
  font-family: "Trade Gothic Next LT Pro Cn";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}

.contact-section .contact-form form .form-group input,
.contact-section .contact-form form .form-group textarea {
  padding: 16px;
  border-radius: 0;
  background-color: #fafafa;
  border-color: #ffffff;
  border-width: 1.25px;
  font-size: 16px;
  font-weight: 500;
  color: #011945;
  resize: none;
  height: auto;
}

.contact-section .contact-form form .form-group input::-webkit-input-placeholder,
.contact-section .contact-form form .form-group textarea::-webkit-input-placeholder {
  color: #011945;
}

.contact-section .contact-form form .form-group input:-ms-input-placeholder,
.contact-section .contact-form form .form-group textarea:-ms-input-placeholder {
  color: #011945;
}

.contact-section .contact-form form .form-group input::-ms-input-placeholder,
.contact-section .contact-form form .form-group textarea::-ms-input-placeholder {
  color: #011945;
}

.contact-section .contact-form form .form-group input::placeholder,
.contact-section .contact-form form .form-group textarea::placeholder {
  color: #011945;
}

.contact-section .contact-form form .form-group select {
  padding: 16px;
  border-radius: 0;
  height: auto !important;
  background-color: #fafafa;
  border-color: #ffffff;
  border-width: 1.25px;
  font-size: 16px;
  font-weight: 500;
  color: #011945;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-position: 96% 55%;
}

.press-section .container {
  max-width: 1024px;
}

.press-section .press-highlight-wrap {
  padding-top: 37px;
}

.press-section .press-highlight-wrap .press-highlight-list {
  padding-bottom: 18px;
  margin-bottom: 52px;
  border-bottom: 0.75px solid #011945;
}

.press-section .press-highlight-wrap .press-highlight-list:last-child {
  border-bottom-color: transparent;
}

.press-section .press-highlight-wrap .press-highlight-list .heighlight-year {
  font-size: 28px;
  margin-bottom: 25px;
  color: #729dad;
}

.press-section .press-highlight-wrap .press-highlight-list li {
  margin-bottom: 30px;
}

.press-section .press-highlight-wrap .press-highlight-list li .heighlight-content {
  font-size: 20px;
  margin-bottom: 8px;
  color: #011945;
  font-family: "TradeGothicNextLTProBdCn";
}

.press-section .press-highlight-wrap .press-highlight-list li .heighlight-time {
  font-size: 14px;
  margin-bottom: 0;
  color: #011945;
  font-weight: 500;
}

.technology-features h5 {
  text-transform: uppercase;
  color: #011945;
  font-family: "TradeGothicNextLTProBdCn";
  margin-bottom: 10px;
}

.technology-features p {
  color: #011945;
}

.technology-features p:not(:last-child) {
  margin-bottom: 35px;
}

.cta-section {
  background-color: rgba(1, 25, 69, 0.8);
}

.cta-section h3 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.cta-section p {
  color: #fff;
  margin-bottom: 0;
}

.contact-info {
  padding-left: 50px;
  border-left: 1px solid #fff;
  margin-left: 20px;
}

.contact-info h5 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.mission-text {
  margin-top: 150px;
}

.mission-text p {
  color: #fff;
}

.process-step-wrap {
  position: relative;
  margin-top: 30px;
}

.process-step-wrap::before {
  content: "";
  position: absolute;
  left: -100%;
  right: -100%;
  top: 7px;
  height: 1px;
  background-color: #FFFFFF;
}

.process-step-wrap .process-tab {
  overflow-x: auto;
  overflow-y: hidden;
}

.process-step-wrap .process-tab .nav-tabs {
  min-width: 500px;
  border: 0;
}

.process-step-wrap .process-tab .nav-tabs li.nav-item {
  margin: 0;
}

.process-step-wrap .process-tab .nav-tabs li.nav-item a.nav-link {
  position: relative;
  color: #ffffff;
  padding: 0;
  border: 0;
  font-family: "TradeGothicNextLTProBdCn";
}

.process-step-wrap .process-tab .nav-tabs li.nav-item a.nav-link.active {
  background-color: transparent;
  position: relative;
  color: #ffffff;
  padding: 0;
}

.process-step-wrap .process-tab .nav-tabs li.nav-item a::before {
  content: "";
  right: 0;
  margin: 0 auto 20px;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  border: 1px solid #fff;
  display: block;
  background-color: #130f0f;
}

.process-step-wrap .process-tab .nav-tabs li.nav-item a.active:before {
  background-color: #f4ec7e;
  border-color: #f4ec7e;
}

.process-step-content {
  background-color: rgba(114, 157, 173, 0.76);
  padding: 45px 80px;
  margin-top: 60px;
}

.process-step-content h2 {
  color: #fff;
  margin-bottom: 20px;
}

.process-step-content p {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */